<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SriSaiKrishnConstruction">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".model.SaiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.PlantActivity"
            android:label="@string/title_activity_plant"></activity>
        <activity
            android:name=".main.MessActivity"
            android:label="@string/title_activity_mess" />
        <activity
            android:name=".main.SiteActivity"
            android:label="@string/title_activity_site" />
        <activity
            android:name=".main.TripActivity"
            android:label="@string/title_activity_trip" />
        <activity
            android:name=".main.StockActivity"
            android:label="@string/title_activity_stock" />
        <activity
            android:name=".Splashscreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".model.ConnectivityReceiver"
            android:enabled="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".main.Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
    </application>

</manifest>